body{
    background-color: white;
}
.photo {
    height: 40px;
    width: 40px; 
}
.header{
    position: sticky;
    margin: 0px 10px;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color:black;
    height: 47px;
}
.info{
    color:black;
    font-size: 25px;
    padding-left: 5px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header_info{
    display: flex;
    align-items: center;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(233, 206, 228);
    width: 700px;
    height: 45px;
    border-radius: 5px;
    color: -internal-light-dark(black,white);
}
.header_search> input{
    border: none;
    height: 40px;
    background: transparent;
    outline:none;
    width: 100%;
}

